@import "../../../public/variables.scss";

.event {
  flex: 1;
  width: 92%;
  margin: 5px auto;
  padding: 5px 0;
  display: flex;
  align-items: baseline;
  position: relative;
  .eventType {
    text-transform: uppercase;
    padding: 1px 4px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    margin: 0 3px;
    color: #fff;
  }
  .eventText {
    font-size: 13px;
    font-weight: 600;
  }
  .eventPremium {
    position: absolute;
    top: -7px;
    right: -2px;
    border-radius: 50%;
    padding: 6px;
    background-color: $calendar-premium-sec-color;
    border: solid 2px $calendar-premium-pri-color;
  }
}

@mixin color-event-block($primary, $secondary) {
  border-top: solid 2px $primary;
  color: $primary;
  background-color: $secondary;
  .eventType {
    background-color: $primary;
  }
}
.faded {
    opacity: 0.4;
}
.leap {
  @include color-event-block(
    $calendar-leap-pri-color,
    $calendar-leap-sec-color
  );
}
.vanhackathon {
  @include color-event-block($calendar-van-pri-color, $calendar-van-sec-color);
}
.relocationsummit {
  @include color-event-block(
    $calendar-relocationsummit-pri-color,
    $calendar-relocationsummit-sec-color
  );
}
.webinar {
  @include color-event-block(
    $calendar-webinar-pri-color,
    $calendar-webinar-sec-color
  );
}
.meetup {
  @include color-event-block(
    $calendar-meetup-pri-color,
    $calendar-meetup-sec-color
  );
}


.popover-container {
  width: 400px;
  max-height: 500px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px -5px rgba(91,93,96,0.76);
  -moz-box-shadow: 0px 0px 24px -5px rgba(91,93,96,0.76);
  box-shadow: 0px 0px 24px -5px rgba(91,93,96,0.76);
  .popover-subcontainer {
    color: #5b5d60;
    width: 100%;
    height: 100%;
    .eventType {
      text-transform: uppercase;
      padding: 1px 4px;
      font-size: 24px;
      font-weight: 600;
      border-radius: 2px;
      margin: 0 10px 0 0;
      color: #fff;
    }
    .eventText {
      flex: 1;
      font-size: 24px;
      width: 74px;
      font-weight: 600;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    .popover-close {
      cursor: pointer;
    }
    .popover-heading {
      display: flex;
      align-items: baseline;
      border: none;
      background-color: #fff;
    }
    .popover-deadline {
      font-weight: 600;
      font-size: 15px;
      margin: 5px 0;
    }
    .popover-content {
      font-size: 14px;
      margin: 10px 0 5px;
    }
    .popover-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .popover-apply {
        cursor: pointer;
        border: solid 2px #1297df;
        padding: 6px 15px;
        color: #1297df;
        border-radius: 4px;
        margin-left: 5px;
      }
      .popover-apply:hover {
        background-color: #1297df;
        color: #fff;
      }
    }
  }
}

@mixin popover-event-block($primary, $secondary) {
  border-top: solid 2px $primary;
  color: $primary;
  background-color: $secondary;
  .eventType {
    background-color: $primary;
  }
}