$calendar-leap-pri-color: #DF8127;
$calendar-leap-sec-color: #FEEED7;
$calendar-van-pri-color: #0C9FB4;
$calendar-van-sec-color: #DCFBFE;
$calendar-relocationsummit-pri-color: #595F72;
$calendar-relocationsummit-sec-color: #BFBDC1;
$calendar-webinar-pri-color: #E88DF1;
$calendar-webinar-sec-color: #f4e0f7;
$calendar-meetup-pri-color: #458a1d;
$calendar-meetup-sec-color: #d9f8c8;
$calendar-premium-pri-color: #5f5ffe;
$calendar-premium-sec-color: #e1d9ff;