.header {
  height: 51px;
  z-index: 12;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(184, 195, 204);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .container-nav {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container-nav > span {
    cursor: pointer;
    font-size: 18px;
    color: rgb(88, 99, 109) !important;
    font-weight: 300 !important;
    transition: text-shadow 0.5s ease 0s !important;
  }
  .container-nav > span.active {
    border-bottom: solid 5px #1297df;
  }
  .profile {
    border: solid 3px #1297df;
    border-radius: 50%;
    padding: 7px 15px;
    margin: 10px 20px;
  }
}
.header > span {
  margin: 0 20px;
}
