.calendar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  .week {
    flex: 1;
    border-top: solid 1px #cccccc;
  }
  .day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1 1;
    border-left: solid 1px #cccccc;
    cursor: pointer;
    transition: all 0.2s;
    color: #5b5d60;
    background-color: #ffffff;
  }
  .day:first-child {
    border-left: solid 1px #e9edef;
  }
  .day-text {
    font-weight: 700;
    font-size: 12px;
    margin: 2px 2px 0 0;
  }
  .different-month {
    color: #b6bac1;
    background-color: #f8f8f8;
  }
  .today{
    background-color: #F6FCFF;
    .day-text {
      background-color: #1297df;
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      margin-bottom: 2px;
    }
  }
  
  .calendar-row {
    display: flex;
    width: 100%;
  }
  .calendar-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    .month-display {
      justify-content: center;
      align-items: center;
      height: 50px;
      color: #6a7180;
      border-bottom: solid 1px #cccccc;
      .month-label {
        text-align: center;
        flex: 1;
        font-size: 19px;
        font-weight: 700;
      }
      .arrow {
        margin: 0 10px;
        border-radius: 50%;
        padding: 4px 8px;
        background-color: #fff;
        cursor: pointer;
      }
    }
    .day-names {
      font-weight: 500;
      cursor: default;
      font-size: 12px;
      .day {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1;
        height: 20px;
        border-left: solid 1px #9b9797;
        cursor: pointer;
        transition: all 0.2s;
        color: #6a7180;
        background-color: #d2d6df;
      }
      .day:first-child {
        border-left: solid 1px #e9edef;
      }
    }
  }
}


.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .event {
    flex: 1;
    width: 92%;
    background-color: #E1D9FF;
    margin: 5px auto;
    border-top: solid 2px #5F5FFE;
    color: #5F5FFE;
    padding: 5px 0;
    display: flex;
    align-items: center;
    .eventType {
      background-color: #5F5FFE;
      color: #fff;
      padding: 1px 4px;
      font-size: 13px;
      font-weight: 600;
      border-radius: 2px;
      margin: 0 3px;
    }
    
    .eventText {
      font-size: 13px;
      font-weight: 600;
    }
  }
}
