.App {
  background-color: #2E2E36;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  height: 36vh;
  overflow: hidden;
  opacity: 1;
  &-bg {
    height: 72vh;
    width: 100vw;
  }
}

.content-container {
  display: flex;
  flex-direction: row;

  .site-bar {
    z-index: 999;
    height: 100vh;
    flex: 1;
    background: rgb(37,37,45);
    background: linear-gradient(180deg, rgba(37,37,45,0.2) 0%, rgba(37,37,45,1) 38%, rgba(37,37,45,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo-container {
      flex: 1.5;
      display: flex;
      align-items: center;

      .logo{
        height: 122px;
      }
    }

    &-names {
      flex: 2;
      display: flex;
      flex-direction: column;
      width: 100%;
      .name {
        cursor: pointer;
        color: #fff;
        text-align: center;
        padding: 2px 0;
        font-weight: 300;
      }

      .active {
        background-color: rgba(255,255,255,0.2);
      }
      .blue {
        color: #3DC8EF;
      }
      .g1 {
        font-size: 16px; 
      }
      .g2 {
        font-size: 20px; 
      }
      .g3 {
        font-size: 24px; 
      }
      .g4 {
        font-size: 30px; 
      }
      .g5 {
        font-size: 35px; 
      }
      .g6 {
        font-size: 42px; 
      }

    }
  }
  
  .profile-container {
    z-index: 99;
    height: 64vh;
    flex: 3;
    align-self: flex-end;
    -webkit-box-shadow: -1px -10px 31px 26px rgba(26,29,36,1);
    -moz-box-shadow: -1px -10px 31px 26px rgba(26,29,36,1);
    box-shadow: -1px -10px 31px 26px rgba(26,29,36,1);
    display: flex;
    flex-direction: row;

    .profile-pic {
      margin-top: -55px;
      flex: 1;
      text-align: right;
      .photo{
        height: 150px;
        border: solid 2px rgba(255,255,255,0.2);
        border-radius: 5px;
      }
    }

    .profile {
      margin-top: -65px;
      flex: 3.5;
      padding: 0 90px 10px 50px;
      &-name {
        font-size: 48px;
        color: #fff;
        font-weight: 300;
      }
      &-popularity-slider {
        margin: 45px 0;
        display: flex;
        flex-direction: row;
        .slider-label {
          color: #fff;
          font-size: 25px;
        }
        .StepRangeSlider {
          padding: 0;
          margin: 14px 0 0 30px;

          &__tooltip {
            display: none;
          }
          &__track {
            height: 4px;
            background-color: #1A1D24;
            border: none;
          }
          &__handle {
            top: 16%;
          }
          &__thumb {
            border-radius: 15px;
            width: 25px;
            height: 25px;
            border: none;
          }
        }
      }
      &-bio {
        background-color: #1A1D24;
        color: #fff;
        padding: 20px 25px;
        line-height: 25px;
        word-spacing: 2px;
        border-radius: 5px;
        &-heading {
          font-size: 25px;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}