@import "../public/variables.scss";

.App,
html,
body {
  height: 100vh;
  margin: 0;
}
.App {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}
.content-heading {
  margin: 30px 50px 20px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(88, 99, 109) !important;
}
.content {
  flex: 2;
  display: flex;
  margin: 0 50px 10px;
  border-radius: 7px;
  border-top: solid 2px #ffffff;
}

.calendar-pane {
  background-color: #e9edef;
  flex: 1 1;
  .hr {
    height: 55px;
    background-color: #dbe4ec;
    border-top-right-radius: 7px;
    border-top: solid 2px #dbe4ec;
    margin-top: -2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .calendar-marker {
      margin-right: 10px;
      .eventType {
        padding: 4px 9px;
        font-weight: 600;
        border-radius: 2px;
      }
      .premium {
        border-top: solid 2px $calendar-premium-pri-color;
        background-color: $calendar-premium-sec-color;
        color: $calendar-premium-pri-color;
      }
    }
  }
}
