.App,
html,
body {
  height: 100vh;
  margin: 0;
}
.App {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}
.content-heading {
  margin: 30px 50px 20px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(88, 99, 109) !important;
}
.content {
  flex: 2;
  display: flex;
  margin: 0 50px 10px;
  border-radius: 7px;
  border-top: solid 2px #ffffff;
}
.filter-section {
  background-color: #ffffff;
  flex: 0 0 350px;
  .hr {
    height: 55px;
    background-color: #dbe4ec;
    border-top-left-radius: 7px;
    border-top: solid 2px #dbe4ec;
    margin-top: -2px;
  }
  .navbar {
    color: #6a7180;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar > span {
    padding: 18px 0 18px;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  .navbar > span.active {
    margin-top: -8px;
    background-color: #ffffff;
    border-top: solid 10px #1297df;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.calendar-pane {
  background-color: #e9edef;
  flex: 1 1;
  .hr {
    height: 55px;
    background-color: #dbe4ec;
    border-top-right-radius: 7px;
    border-top: solid 2px #dbe4ec;
    margin-top: -2px;
  }
}
